<!DOCTYPE html>
<html lang="en">

<head>
  <title>Vue</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="demoDB.js"></script>
</head>

<body>
  <div id="app">
    <h1>余额：{{ balance.toFixed(2) }}</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item" v-for="item in wishList">
              <h2>{{item.name}}</h2>
              <p>Price: {{item.price.toFixed(2)}}</p>
              <button class="btn btn-success" @click="buyItems(item.id)">Buy</button>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item" v-for="item in myGames">
              <h2>{{item.name}}</h2>
              <button class="btn btn-danger" @click="rmItems(item.id)">Delete</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="index.js"></script>
</body>

</html>